@model IEnumerable<PropertyRentalManagement.Models.Message>

@{
    ViewData["Title"] = "Index";
}

<h1>Message Inbox</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Sender
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                Date Recieved
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SenderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                <a asp-action="Create" asp-route-id="@item.ReceiverId">Reply</a> |
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    @Html.ActionLink("Write New Message", "Create", "Messages")
</div>
