@model IEnumerable<PropertyRentalManagement.Models.User>

@{
    ViewData["Title"] = "Index";
    var imagePath = "~/Assets/profile_default_pic.jpg";
}

<h1>User Managment</h1>

<h2>Search - Users</h2>
<form method="post">
    <p>
        Email : <input type="text" id="Email" name="Email" />
        <input type="submit" value="Search" />
    </p>
</form>

<br/>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Profile Picture
            </th>
            <th>
                Name
            </th>
            <th>
              Email
            </th>
            <th>
                User type
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
               <img src="@Url.Content(imagePath)" alt="User" style="width: 100px; height: 100px" />
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserTypeNavigation.UserDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UserId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UserId">Delete</a>
            </td>
        </tr>
}
    </tbody>
            <td>
                @Html.ActionLink("Manage Buildings", "Index", "Buildings")
            </td>
            <td>
                @Html.ActionLink("Manage Appartments", "Index", "Appartments")
            </td>
</table>
